.moments-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.moment {
  width: 32%;
  margin-bottom: 1em;
  text-align: center;
}

.moment img {
  width: 100%;
  margin-bottom: 1em;
}

.moment h3,
.moment p {
  margin-bottom: 1em;
}

.moment .date {
  font-size: .7em;
  font-style: italic;
}

a {
  color: #dec129;
  padding: .3em .6em;
}

a:hover {
  background-color: #efefef;
}