<div class="home-container">
  <h1>Veja o que estão compartilhando</h1>
  <div class="search-container">
    <form>
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" name="search" id="search" (input)="search($event)" placeholder="Ou busque por um momento...">
    </form>
  </div>

  <div *ngIf="moments.length > 0; else noMoments">
    <div class="moments-container">
      <div class="moment" *ngFor="let moment of moments">
        <img
          src="{{ baseApiUrl }}uploads/{{ moment.image }}"
          alt="{{ moment.title }}"
        />
        <h3>{{ moment.title }}</h3>
        <p class="date">Em: {{ moment.created_at! }}</p>
        <p>Comentários: {{ moment.comments!.length }}</p>
        <p><a routerLink="moments/{{ moment.id }}">Detalhes</a></p>
      </div>
    </div>
  </div>
  <ng-template #noMoments>
    <h1>Não há Momentos cadastrados!</h1>
  </ng-template>
</div>
