<section>
  <h2>Section list-render</h2>
  <ul>
    <li *ngFor="let animal of animals">
      Nome: {{ animal.name }} - {{ animal.type }}
      <button (click)="removeAnimal(animal)" type="button">Excluir</button>
    </li>
  </ul>

  <div class="container">
    <div class="pet" *ngFor="let animal of animals">
      <p>
        Nome: <a routerLink="/list/{{ animal.id }}">{{ animal.name }}</a> -
        {{ animal.type }}
      </p>
      <button (click)="togleAge(animal)" type="button">
        {{ animal.showAge ? "Hide age" : "Show age" }}
      </button>
      <button (click)="removeAnimal(animal)" type="button">Excluir</button>
      <p *ngIf="animal.showAge">Age: {{ animal.age }}</p>
      <p></p>
    </div>
  </div>

  <div class="container">
    <div class="pet" *ngFor="let animal2 of animals2">
      <p>animal: {{ animal2.name }}</p>
      <p>Tamanho: {{ animal2.tamanho }}</p>
    </div>
  </div>
</section>
