* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #444;
}

a {
  text-decoration: none;
  color: #444;
  transition: 0.4s;
}

a:hover {
  color: #dec129;
}

/* FORM */

form {
  width: 450px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-group label {
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 0.4em;
}

.form-group input,
.form-group textarea {
  padding: 0.6em;
  color: #777;
  font-size: 0.8em;
}

input[type="submit"] {
  background-color: #efefef;
  border: 2px solid transparent;
  padding: 0.6em 1em;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.35s;
}

input[type="submit"]:hover {
  color: #dec129;
  border-color: #dec129;
  background-color: transparent;
}

.validation-error p {
  color: #dc3545;
  margin-top: 0.4em;
  border-left: 3px solid #dc3545;
  padding-left: 0.2em;
}

/* BUTTONS */

.edit-btn,
.remove-btn {
  border: 1px solid #efefef;
  padding: 0.4em 1em;
  font-size: 1em;
  margin: 0 0.5em;
  cursor: pointer;
  background-color: #fff;
  transition: 0.4s;
}

button i {
  margin-right: 0.2em;
  transition: 0.4s;
}

.edit-btn,
.edit-btn i {
  border-color: #007bff;
  color: #007bff;
}

.edit-btn:hover,
.edit-btn:hover i {
  color: #fff;
  background-color: #007bff;
}

.remove-btn,
.remove-btn i {
  border-color: #dc3545;
  color: #dc3545;
}

.remove-btn:hover,
.remove-btn:hover i {
  color: #fff;
  background-color: #dc3545;
}