* {
    color: white;
}

mat-card {
    max-width: 800px;
    margin: 0 auto;
}

button {
    background-color: whitesmoke;
    color: black;
    border: none;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all .15s ease;
}

button:hover {
    background-color: coral;
    color: white;
}