<header>
  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/list">Lista</a>
    <a routerLink="/eventos">Eventos</a>
  </nav>
</header>
<main>
  <h1>Hello, World Angular!</h1>
  <!-- <app-first-component></app-first-component>
  <app-parent-data [name]="userName" [data]="userData"></app-parent-data>
  <app-directives></app-directives>
  <app-if-render></app-if-render>
  <app-eventos></app-eventos>
  <app-emitter></app-emitter>
  <app-list-render></app-list-render>
  <app-pipes></app-pipes> -->
  <router-outlet></router-outlet>
</main>